.header {
    padding: 26px 48px;
    font-size: 30px;
    border: 1px solid grey;
    // margin: 10px;
    background: #6750A4;
    background: green;
    color: #ffffff;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// .container {
//     max-width: 1024px;
//     margin: 0 auto;
//     padding: 0 10px;
//   }  
.logo {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: normal;
    text-decoration: none;
    color: #ffffff;
}
.help {
    font-family: 'Roboto',sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.27;
    color: #ffffff;
}
